* {
    margin: 0;
    padding: 0;
}
html {
    font-family: Defeault;
    background-color: #dfdfdf;
}

header {
    background: rgb(64,255,245);
    background: linear-gradient(90deg, rgba(64,255,245,1) 17%, rgba(119,166,255,1) 52%, rgba(142,193,255,1) 92%);
    text-align: center;
    border-radius: 0% 0% 100% 100%;
    padding: 50px;
    margin-bottom:40px ;
    box-shadow: 0 0 10px gray;
}

section {
    font-size: 16px;
    width: 90%;
    padding: 10px 2px;
    margin: 10px auto;
    text-align: center;
    font-weight: bold;
    background: rgb(64,255,245);
    background: linear-gradient(90deg, rgba(64,255,245,1) 17%, rgba(119,166,255,1) 52%, rgba(142,193,255,1) 92%);
    border-radius: 10px;
    box-shadow: 0 0 10px gray;
}
@media (min-width: 500px) {
    section {
        width: 75%;
    }
}

@media (min-width: 650px) {
    section {
        width: 60%;
    }
}
@media (min-width: 800px) {
    section {
        width: 50%;
    }
}
@media (min-width: 1100px) {
    section {
        width: 40%;
    }
}

footer {
    font-size: 9px;
    text-align: center;
}
.SPD {
    font-size: 18px;
    font-weight: 1200;
    padding-bottom: 10px;
}
#SQL {
    margin-top: 10px;
    width: 60px;
    height: 60px;
}
#SPD {
    font-weight: bolder;
}
div {
    margin-bottom: 15px;
}
ul {
    display: flex;
    font-weight: 800;
    justify-content: space-around;
}
img {
    width: 32px;
    height: 32px;
}
.box4_images {
    width: 64px;
    height: 64px;
    float: left;
    padding: 5px;
}
h2 {
    font-weight: bolder;
}
h3 {
    font-size: 19px;
    margin: 5px 0px;
}
#Sala_309 {
    align-items: center;
    width: 90%;
    height: 55%;
    margin: 0 auto;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(119,166,255);
}
/* FONTS */
@font-face {
    font-family: Defeault;
    src: url(../font/Nunito-VariableFont_wght.ttf);
}